.defaultMargin
{
	margin: 4px;
}

.defaultPadding
{
	padding:2px;
}

.creatorPanelStyle
{
	width:75%;		
}

.boldHeader
{
	font-weight:bold !important ;
}

body #app
{
	margin:6px;
	border:1px;	
}

#agHeaderCellLabel
{

	text-align: left;
}

.agGridCellWidth
{
	width:100px;
}

.row.defaultOverride
{
	margin-left: 0px
}

.panel.defaultPanelOverride
{
	margin-bottom: 6px;
	margin-left: 2px
}

.radio.radioOverride
{
	margin:4px;
	padding:4px;
}

.ag-body-viewport
{
	overflow-x: hidden;
}

.modal-body
{
	padding:4px;
}

.custom-modal
{
	width:75%;
}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    text-align: right
}

.truncate {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.autoWidth {
  width: auto !important;
  
}

.col-md-3 {
    width: 33%;
}

.radio label {

	font-weight: 700;	
	margin-bottom: -4px
}


.checkbox label {

	font-weight: 700;	
	margin-bottom: -4px
	
}

.setPosition
{
	position:absolute;
	right:0px;
}


.deleteIconRollOver {    
    cursor: pointer; 
}

.deleteIconRollOver:hover { 
    -moz-box-shadow: 0 0 10px #ccc; 
    -webkit-box-shadow: 0 0 10px #ccc; 
    box-shadow: 0 0 10px #ccc;
    cursor: pointer; 
}

.modal-body
{
	max-height: 450px;
	overflow-x:auto;
}


.SortableList {
    position: relative;
    z-index: 0;
    background-color: #F3F3F3;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    outline: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #E0E0E0;
    list-style: none;
    padding: 0;
}
.SortableItem {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    background-color: #FFF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #333;
    font-weight: 500;
}
.SortableHelper {
   	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2), 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    cursor: row-resize;   
    z-index: 100000
}

input:required {
    background: #fff url(/assets/images/asterisk-icon.png) no-repeat 98% center;
}

.validationInput:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(/assets/images/invalidate_error.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.validationInput:valid{ /* when a field is considered valid by the browser */
    background: none;   
}

